@using Swimmer.Domain.Entities
@using Swimmer.Application
@using Swimmer.Domain

<tr>
    <td> @Row </td>
    <td> @Name </td>
    <td> @PreliminaryTimeStr</td> 
</tr>


@code {
    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public string? Name { get; set; } = string.Empty;
    
    [Parameter]
    public TimeSpan? PreliminaryTime { get; set; }

    private string PreliminaryTimeStr => 
        PreliminaryTime?.ToString(@"m\.ss\.ff") ?? "";
}